body {
    background-color: #000000;
}

.container-principal{

    background-color: #000000;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}

.logo {
    width: 110px;
    height: 110px;
    align-items: center;
}

.formulario{

    background-color: #000000;
    padding: 0px;
    width: 300px;

}

form h3 {

    text-align: center;
    margin-bottom: 20px;
    color: #20C20E;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;

}

input[type="email"], input[type="password"]{

    background-color: #20C20E;
    width: 98%;
    margin: 10px 0;
    font-size: 16px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: none;

}


input[type="submit"] {

    padding: 15px;
    background-color: #20C20E;
    color: #000000;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    border: none;
    width: 109%;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;

}

input[type="submit"]:hover {

    color: #000000;
    background-color: #168802;

}

.btnsignup {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: #20C20E;
    text-decoration: none;
}

.btnsignup:hover {
    color: #20C20E;
    text-decoration: underline;
}